body {
    margin: 0;
    background-color: lavender;
    font-family: monospace;
    display: grid;
    grid-template-areas:
    "header header"
    "movie-selection ."
    "display-info display-info"
    "form form"
    "list list";
    justify-content: center;
    align-items: center;
}

#header {
    width: 75%;
    background-color: skyblue;
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo h1";
    margin-bottom: 20px;
}

#header img {
    height: 170px;
    grid-area: logo;
}

#header h1 {
    grid-area: h1;
}

#movie-selection {
    grid-area: movie-selection;
    margin-bottom: 30px;
}
#display-info {
    grid-area: display-info;
    margin-bottom: 20px;
}

#form {
    grid-area: form;
    margin-bottom: 20px;
}
#list {
    grid-area: list;
}